<a href="https://colab.research.google.com/github/FridayxVision/ICT_DSA/blob/main/casestudy_numpy_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy

In [11]:
import numpy as np
import pandas as pd

df = pd.read_csv("/content/auto-mpg_DSA.csv")

In [29]:
mpg = df['mpg'].values
mean_mpg = np.mean(mpg)
median_mpg = np.median(mpg)
std_dev_mpg = np.std(mpg)
car_above_25 = np.sum(mpg>25)

print("Mean MPG:", mean_mpg)
print("Median MPG:", median_mpg)
print("Standard Deviation:", std_dev_mpg)
print("Cars with MPG > 25:", car_above_25)

Mean MPG: 23.514572864321607
Median MPG: 23.0
Standard Deviation: 7.806159061274433
Cars with MPG > 25: 158

In [49]:
cyl_arr = df['cylinders'].to_numpy()
car_names = df['car name'].to_numpy()

filtered_names = car_names[cyl_arr > 6].tolist()
print(filtered_names)

['chevrolet chevelle malibu', 'buick skylark 320', 'plymouth satellite', 'amc rebel sst', 'ford torino', 'ford galaxie 500', 'chevrolet impala', 'plymouth fury iii', 'pontiac catalina', 'amc ambassador dpl', 'dodge challenger se', "plymouth 'cuda 340", 'chevrolet monte carlo', 'buick estate wagon (sw)', 'ford f250', 'chevy c20', 'dodge d200', 'hi 1200d', 'chevrolet impala', 'pontiac catalina brougham', 'ford galaxie 500', 'plymouth fury iii', 'dodge monaco (sw)', 'ford country squire (sw)', 'pontiac safari (sw)', 'chevrolet impala', 'pontiac catalina', 'plymouth fury iii', 'ford galaxie 500', 'amc ambassador sst', 'mercury marquis', 'buick lesabre custom', 'oldsmobile delta 88 royale', 'chrysler newport royal', 'amc matador (sw)', 'chevrolet chevelle concours (sw)', 'ford gran torino (sw)', 'plymouth satellite custom (sw)', 'buick century 350', 'amc matador', 'chevrolet malibu', 'ford gran torino', 'dodge coronet custom', 'mercury marquis brougham', 'chevrolet caprice classic', 'ford ltd', 'plymouth fury gran sedan', 'chrysler new yorker brougham', 'buick electra 225 custom', 'amc ambassador brougham', 'chevrolet impala', 'ford country', 'plymouth custom suburb', 'oldsmobile vista cruiser', 'chevrolet monte carlo s', 'pontiac grand prix', 'dodge dart custom', 'oldsmobile omega', 'ford gran torino', 'buick century luxus (sw)', 'dodge coronet custom (sw)', 'ford gran torino (sw)', 'amc matador (sw)', 'pontiac catalina', 'chevrolet bel air', 'plymouth grand fury', 'ford ltd', 'chevrolet monza 2+2', 'ford mustang ii', 'chevrolet chevelle malibu classic', 'dodge coronet brougham', 'amc matador', 'ford gran torino', 'plymouth volare premier v8', 'cadillac seville', 'chevy c10', 'ford f108', 'dodge d100', 'chevrolet caprice classic', 'oldsmobile cutlass supreme', 'dodge monaco brougham', 'mercury cougar brougham', 'pontiac grand prix lj', 'chevrolet monte carlo landau', 'chrysler cordoba', 'ford thunderbird', 'oldsmobile cutlass salon brougham', 'dodge diplomat', 'mercury monarch ghia', 'chevrolet monte carlo landau', 'ford futura', 'dodge magnum xe', 'chevrolet caprice classic', 'ford ltd landau', 'mercury grand marquis', 'dodge st. regis', 'buick estate wagon (sw)', 'ford country squire (sw)', 'chevrolet malibu classic (sw)', 'chrysler lebaron town @ country (sw)', 'cadillac eldorado', 'oldsmobile cutlass salon brougham', 'oldsmobile cutlass ls']

In [50]:
weight_array = df['weight'].to_numpy()
percentiles = np.percentile(weight_array, [25, 50, 75])
print("25th, 50th, 75th percentiles of weight:", percentiles)

25th, 50th, 75th percentiles of weight: [2223.75 2803.5  3608.  ]

In [54]:
displacement_arr = df['displacement'].to_numpy()
origin_arr = df['origin'].to_numpy()

avg_disp_origin2 = np.mean(displacement_arr[origin_arr == 2])
print("Average displacement for European cars (origin=2):", avg_disp_origin2)

Average displacement for European cars (origin=2): 109.14285714285714

In [72]:
sorted_indices = np.argsort(df['model year'].to_numpy())[::-1]
top5_cars = df['car name'].to_numpy()[sorted_indices][:5]

print("Top 5 newest cars:", top5_cars)

Top 5 newest cars: ['dodge aries se' 'pontiac phoenix' 'pontiac j2000 se hatchback'
 'chevrolet cavalier 2-door' 'chevrolet cavalier wagon']

# Pandas

In [74]:
df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl

In [76]:
df.shape

(398, 9)

In [77]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [83]:
filtered_cars = df[(df['model year'] == 75) & (df['weight'] <3000)]
filtered_cars_selected = filtered_cars[['car name', 'weight', 'mpg']]
print(filtered_cars_selected)

              car name  weight   mpg
167     toyota corolla    2171  29.0
168         ford pinto    2639  23.0
169        amc gremlin    2914  20.0
170      pontiac astro    2592  23.0
171      toyota corona    2702  24.0
172  volkswagen dasher    2223  25.0
173         datsun 710    2545  24.0
174         ford pinto    2984  18.0
175  volkswagen rabbit    1937  29.0
177         audi 100ls    2694  23.0
178        peugeot 504    2957  23.0
179        volvo 244dl    2945  22.0
180          saab 99le    2671  25.0
181   honda civic cvcc    1795  33.0

In [88]:
print(df.isna().sum())

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [99]:
df['power_to_weight_ratio'] = df['horsepower'] / df['weight']
print(df[['car name', 'horsepower', 'weight', 'power_to_weight_ratio']].head())

                    car name  horsepower  weight  power_to_weight_ratio
0  chevrolet chevelle malibu       130.0    3504               0.037100
1          buick skylark 320       165.0    3693               0.044679
2         plymouth satellite       150.0    3436               0.043655
3              amc rebel sst       150.0    3433               0.043694
4                ford torino       140.0    3449               0.040591

In [100]:
mean_mpg_by_origin = df.groupby('origin')['mpg'].mean()
print(mean_mpg_by_origin)

origin
1    20.083534
2    27.891429
3    30.450633
Name: mpg, dtype: float64

In [101]:
top10_mpg = df.sort_values(by='mpg', ascending=False).head(10)
print(top10_mpg[['car name', 'mpg']])

                            car name   mpg
322                        mazda glc  46.6
329              honda civic 1500 gl  44.6
325             vw rabbit c (diesel)  44.3
394                        vw pickup  44.0
326               vw dasher (diesel)  43.4
244  volkswagen rabbit custom diesel  43.1
309                        vw rabbit  41.5
330             renault lecar deluxe  40.9
324                       datsun 210  40.8
247                   datsun b210 gx  39.4

In [104]:
def performance_score(row):
    return row['mpg'] * row['acceleration'] / row['weight']

df['performance_score'] = df.apply(performance_score, axis=1)
print(df[['car name', 'performance_score']].head())

                    car name  performance_score
0  chevrolet chevelle malibu           0.061644
1          buick skylark 320           0.046710
2         plymouth satellite           0.057625
3              amc rebel sst           0.055928
4                ford torino           0.051754

In [105]:
summary_by_year = df.groupby('model year')[['mpg', 'weight', 'horsepower']].mean()
print(summary_by_year)

                  mpg       weight  horsepower
model year
70          17.689655  3372.793103  147.827586
71          21.250000  2995.428571  106.553571
72          18.714286  3237.714286  120.178571
73          17.100000  3419.025000  130.475000
74          22.703704  2877.925926   94.203704
75          20.266667  3176.800000  101.066667
76          21.573529  3078.735294  101.117647
77          23.375000  2997.357143  105.071429
78          24.061111  2861.805556   99.694444
79          25.093103  3055.344828  101.206897
80          33.696552  2436.655172   78.586207
81          30.334483  2522.931034   81.465517
82          31.709677  2453.548387   81.854839